#banner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background: transparent;
  text-align: center;

  @include media-breakpoint-up(md) {
    top: 0;
    left: 0;
    transform: none;
    text-align: left;
  }
}