#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  transition: transform .12s, background-color .12s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    opacity: 0;
    transition: opacity .12s;
    z-index: -1;
  }

  &.hidden {
    transform: translateY(calc(-100% - 5px));
  }

  &.with-background {
    background-color: #fff;

    &::after {
      opacity: 1;
    }
  }
}

.header {
  position: relative;
  display: flex;
  height: 8 * $base-line;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;

  @include media-breakpoint-up(lg) {
    min-width: 0;
  }

  &_logo {
    margin-right: 36px;
  }
}