.action-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > :last-child {
    margin-left: 2 * $base-line;
  }

  &_comments {
    display: inline-flex;
    align-items: center;
    color: $theme-primary;
    font-size: 13px;

    svg {
      margin-right: $base-line;
    }

    &_desc {
      margin-right: $base-line;
    }
  }
}