.btn {
  border-radius: 50px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  border-width: 2px;
}

.btn-icon {
  display: inline-flex;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  border: 0;
}

.toggler {
  color: $theme-primary;

  &--menu {
    display: inline-flex;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}