.card {
  border: 0;
}

.card-container {
  margin-bottom: 2 * $base-line;

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.product-card {
  height: 100%;
  background-color: $theme-primary-light;

  &_link {
    height: 100%;
  }

  &_body {
    display: flex;
  }

  &_thumbnail {
    width: 16 * $base-line;
    flex-shrink: 0;
  }

  &_description {
    flex-grow: 1;
    font-size: 13px;
  }

  &_info {
    &:last-child {
      margin-bottom: 0;
    }
  }
}