.carousel {
  position: relative;

  &--quotes {
    .controls {
      @include media-breakpoint-up(md) {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        justify-content: flex-end;
        transform: translateY(calc(-100% - 24px));
      }
    }

    .controls-btn {
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        z-index: 1;

        &_prev {
          left: 0;
        }

        &_next {
          right: 0;
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;

  &-active {
    background-color: $theme-primary;
  }
}

// Critical
.is-loading {
  .quote {
    width: 100%;
    flex-shrink: 0;

    @include media-breakpoint-up(md) {
      width: 33.3333%;
      padding-right: 4 * $base-line;
    }
  }
}