.card {
  border: 0;
}

.product-card {
  height: 100%;
  background-color: $theme-primary-light;

  &_link {
    height: 100%;
  }

  &_body {
    display: flex;
  }

  &_thumbnail {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    img {
      max-width: 128px;
    }
  }

  &_description {
    flex-grow: 1;
    font-size: 13px;
  }

  &_info {
    &:last-child {
      margin-bottom: 0;
    }
  }
}