.carousel {
  position: relative;

  &.is-loading {
    .swiper-container {
      overflow: hidden;
    }

    .swiper-wrapper {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }

    .quote {
      width: 100%;
      flex-shrink: 0;
      
      @include media-breakpoint-up(md) {
        width: 33.3333%;
        padding-right: 30px;
      }
    }
  }

  &--quotes {
    .controls {
      display: flex;
      position: absolute;
      top: 50%;
      width: 100%;
      justify-content: space-between;
      transform: translateY(-50%);
      z-index: 1;

      @include media-breakpoint-up(md) {
        top: 0;
        right: 0;
        width: auto;
        justify-content: flex-end;
        transform: translateY(calc(-100% - 24px));
      }
    }
  } 
}