.arrow {
  color: $theme-primary;

  &.disabled {
    opacity: .38;
  }

  &--next {
    .icon {
      transform: rotate(-90deg);
    }
  }

  &--prev {
    .icon {
      transform: rotate(90deg);
    }
  }
}