.arrow {
  color: $theme-primary;

  &.disabled {
    opacity: .38;
  }

  &--next {
    .icon {
      transform: rotate(-90deg);
    }
  }

  &--prev {
    .icon {
      transform: rotate(90deg);
    }
  }
}

.go {
  line-height: 0;
  padding: $base-line 0;
  
  &--prev {
    text-align: left;
  }

  &--next {
    text-align: right;
  }

  &_control {
    display: inline-flex;
    align-items: center;
    color: $theme-primary;
  }

  .subheading {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}