.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
  visibility: hidden;

  &--visible {
    pointer-events: auto;
    visibility: visible;

    .dialog_backdrop {
      opacity: .3;
    }

    .dialog_surface {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }

  &_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.87);
    opacity: 0;
    z-index: -1;
  }

  &_surface {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: calc(100% - 30px);
    max-width: 640px;
    background-color: #fff;
    transform: translateY(150px) scale(0.8);
    opacity: 0;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    border-radius: $border-radius;
  }

  &_close-btn {
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: $border-radius;
    background-color: $theme-primary;
    color: #fff;
    cursor: pointer;
    padding: 4px 8px;
    line-height: 1;
    font-size: 13px;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($theme-primary, 0.5);
    }
  }
}