.dropdown {
  position: relative;
  display: inline-flex;

  .nav-link {
    padding-right: 6px;
  }

  &:hover {
    .dropdown-menu {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.dropdown-menu {
  font-size: inherit;
  display: block;
  margin-top: 0;
  border: 0;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transform-origin: top left;
  transform: scale(.75);
  opacity: 0;
  pointer-events: none;
  transition: transform .12s, opacity .12s;
  font-family: $font-family-open-sans;
  text-transform: none;
}