.footer {
  &_icon {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 46px;
    transform: translateX(-100%);
    color: $theme-primary;

    @include media-breakpoint-up(md) {
      display: inline-flex;
    }
  }
}

.newsletter {
  text-align: center;
  font-size: 14px;

  &_title {
    font-size: 26px;
    color: $text-secondary-on-light;
  }

  &_description {
    color: $theme-primary;
  }
}