.footer {
  background-color: $theme-primary-light;
  
  @include media-breakpoint-up(md) {
    padding-bottom: 30px;
  }

  &_company {
    text-align: center;
    margin-bottom: 30px;

    @include media-breakpoint-up(xl) {
      text-align: left;
      margin-bottom: 0;
    }

    img {
      margin-bottom: 15px;
    }
  }

  &_column {

    @include media-breakpoint-up(md) {
      padding-left: 46px;
    }
  }

  &_cell {
    position: relative;
    line-height: 1.5em;
    min-height: calc(1.5 * 4em);
  }

  &_icon {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 46px;
    transform: translateX(-100%);
    color: $theme-primary;

    @include media-breakpoint-up(md) {
      display: inline-flex;
    }
  }
}

.newsletter {
  text-align: center;
  font-size: 14px;
  padding-top: 45px;
  
  @include media-breakpoint-up(md) {
    padding-bottom: 15px;
  }

  &_title {
    font-size: 26px;
    color: $text-secondary-on-light;
  }

  &_description {
    color: $theme-primary;
  }

  &_form {
    position: relative;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 80%;
    }

    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }

  &_input {
    border: 0;
    border-radius: 50px;
    padding-right: 110px;
  }

  &_btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.subfooter {
  background-color: #fff;

  &_copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    color: $theme-primary;
    
    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.footer-column-offset-fix {
  @include media-breakpoint-between(lg, lg) {
    margin-left: 25%;
  }
}