.image {
  position: relative;
  display: block;
  padding-top: 56.25%;
  overflow: hidden;
  background-color: $theme-primary-light;
  border-radius: $border-radius-lg;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-fluid {
    width: 100%;
  }

  &--square {
    padding-top: 100%;
  }

  &--alt {
    padding-top: 46.51%;
  }

  &--masthead {
    padding-top: 450px;
    border-radius: 0;

    @include media-breakpoint-up(lg) {
      padding-top: 46.875%;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}