.image {
  position: relative;
  display: block;
  padding-top: 56.25%;
  overflow: hidden;
  background-color: $theme-primary-light;
  border-radius: $border-radius-lg;

  &--square {
    padding-top: 100%;
  }

  &--alt {
    padding-top: 46.51%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}