.masthead {
  position: relative;
  overflow: hidden;

  &_image {
    height: 100% !important;
    width: auto !important;
  }

  &_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  &_content {
    margin-top: 120px;
    font-size: 18px;
    // opacity: 0;
    // transform: translateY(75%);
    transition: transform .3s .4s ease-out, opacity .3s .4s ease-out;

    .swiper-slide-active & {
      // opacity: 1;
      // transform: translateY(0);
    }

    @include media-breakpoint-up(md) {
      max-width: 70%;
    }

    @include media-breakpoint-up(lg) {
      max-width: 50%;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 180px;
    }
  }
}