%nav-typography {
  font-family: $font-family-oswald;
  font-weight: $text-medium;
  text-transform: uppercase;
}

.main-nav {
  @extend %nav-typography;

  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.mobile-nav {
  @extend %nav-typography;

  flex-direction: column;
}

.nav-link--secondary {
  text-transform: none;
  font-weight: $text-regular;
  font-family: $font-family-open-sans;
}