.plant {
  position: absolute;
  display: none;

  @include media-breakpoint-up(lg) {
    display: initial;
  }

  img {
    height: 100%;
  }

  &--spoon {
    bottom: -32px;
    right: 6%;
    height: 34 * $base-line;

    img {
      transform: rotate(12deg);
    }
  }

  &--mushroom {
    top: -64px;
    left: 6%;
    height: 26 * $base-line;

    img {
      transform: rotate(-45deg);
    }
  }

  &--powder {
    top: 0;
    right: -(8 * $base-line);
    height: 28 * $base-line;
  }
}