.product {
  padding: 4 * $base-line 0;

  &--alt {
    background-color: $theme-primary-light;
  }

  &_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_comments-desc {
    display: none;

    @include media-breakpoint-up(md) {
      display: initial;
    }
  }
}