.quote {
  display: flex;
  flex-direction: column;
  padding-left: 6 * $base-line;
  padding-right: 6 * $base-line;
  // user-select: none;

  &:hover {
    text-decoration: none;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }

  &_icon {
    display: flex;
    min-width: 6 * $base-line;
    align-items: center;
    justify-content: center;
    margin-bottom: 2 * $base-line;
    color: $theme-primary;

    @include media-breakpoint-up(md) {
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  &_info {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &_text {
    line-height: 1.5em;
    height: calc(1.5 * 4em);
    background-color: #fff;

    @include media-breakpoint-up(md) {
      height: calc(1.5 * 5em);
    }
  }

  &_author {
    font-size: 16px;
    color: $theme-primary !important;
    
    pointer-events: none;
    text-decoration: none;

    &[href] {
      pointer-events: auto;
      text-decoration: initial;
    }
  }

  &--dialog {
    display: flex;
    flex-direction: column;
    padding: (2 * $base-line) (4 * $base-line);

    @include media-breakpoint-up(sm) {
      padding: (4 * $base-line) (8 * $base-line);
    }
    
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    .quote_text {
      height: auto;
    }
  }
}