.quote {
  display: flex;
  flex-direction: column;
  padding-left: 48px;
  padding-right: 48px;
  user-select: none;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
  }

  &_icon {
    display: flex;
    min-width: 48px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: $theme-primary;

    @include media-breakpoint-up(md) {
      align-items: flex-start;
      margin-bottom: 0;
    }
  }

  &_info {
    text-align: center;

    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }

  &_text {
    line-height: 1.5em;
    height: calc(1.5 * 4em);
    background-color: #fff;

    @include media-breakpoint-up(md) {
      height: calc(1.5 * 5em);
    }
  }

  &_author {
    font-size: 16px;
    color: $theme-primary;
  }
}