.social {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;

  &_item {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }

    a {
      display: block;
      line-height: 0;
    }
  }
}