.social {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;

  &--desktop {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &_item {
    margin-left: $base-line;

    &:first-child {
      margin-left: 0;
    }

    a {
      display: block;
      line-height: 0;
    }
  }
}