%heading {
  font-family: $font-family-oswald;
  font-weight: $text-medium;
  color: $text-secondary-on-light;
}

.headline {
  @extend %heading;

  font-size: 42px;
  text-transform: uppercase;

  @include media-breakpoint-up(xl) {
    font-size: 55px;
  }
}

.title {
  @extend %heading;

  font-size: 30px;
  margin-bottom: 24px;
}

.subheading {
  @extend %heading;

  font-size: 22px;
  color: $text-primary-on-light;
}

.section-title {
  @extend %heading;

  font-size: 16px;
  margin-bottom: 22px;
}

.caption {
  display: inline-block;
  color: $theme-primary;
  font-size: 13px;
  font-weight: $text-regular;
  margin-bottom: 6px;
}