%heading {
  font-family: $font-family-oswald;
  font-weight: $text-medium;
  color: $text-secondary-on-light;
  line-height: 1.2em;
}

.headline {
  @extend %heading;

  font-size: 32px;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 42px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 55px;
  }
}

.title {
  @extend %heading;

  font-size: 30px;
  margin-bottom: 24px;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.subtitle {
  color: $theme-primary;
  font-weight: $text-regular;
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 2 * $base-line;
}

.subheading {
  @extend %heading;

  font-size: 22px;
  color: $text-primary-on-light;

  &--big {
    @include media-breakpoint-up(md) {
      font-size: 36px;
    }
  }
}

.section-title {
  @extend %heading;

  font-size: 16px;
  margin-bottom: 22px;
}

.caption {
  display: inline-block;
  color: $theme-primary;
  font-size: 13px;
  font-weight: $text-regular;
  margin-bottom: 6px;

  &--big {
    @include media-breakpoint-up(md) {
      font-size: 16px;
    }
  }
}

.tag-line {
  font-weight: $text-bold;
  font-size: 24px;
  font-family: $font-family-open-sans;
  color: $theme-primary;
  margin-bottom: 0;
}