html,
body {
  height: 100%;
}

a {
  color: inherit;
  transition: color .12s;

  &:hover {
    color: $theme-primary;
  }
}

b {
  font-weight: $text-medium;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-open-sans;
  font-size: 14px;
  color: $text-primary-on-light;
  background-color: #fff;
}

button {
  background: none;
  border: 0;
  
  &.disabled {
    pointer-events: none;
    cursor: none;
  }
}

figure {
  margin: 0;
}

p {
  color: $text-secondary-on-light;
}

strong {
  font-weight: $text-bold;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
