@import "variables.scss";

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/utilities";


@import "~swiper/dist/css/swiper.min.css";

@import "base.scss";
@import "utils.scss";