$black: #000;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;

$white: #fff;
$blue: #00adee;
$baby-blue: #f2f5f8;

$theme-primary: $blue;
$theme-primary-light: $baby-blue;

$text-primary-on-light: rgba($black, .87);
$text-secondary-on-light: rgba($black, .54);
$text-hint-on-light: rgba($black, .38);
$text-primary-on-dark: rgba($white, 1);
$text-secondary-on-dark: rgba($white, .7);
$text-hint-on-dark: rgba($white, .5);

$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-bold: 600;