// critical styles
// VARIABLES
$black: #000;
$font-family-oswald: 'Oswald', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;

$white: #fff;
$blue: #00adee;
$baby-blue: #f2f5f8;

$theme-primary: $blue;
$theme-primary-light: $baby-blue;

$text-primary-on-light: rgba($black, .87);
$text-secondary-on-light: rgba($black, .54);
$text-hint-on-light: rgba($black, .38);
$text-primary-on-dark: rgba($white, 1);
$text-secondary-on-dark: rgba($white, .7);
$text-hint-on-dark: rgba($white, .5);

$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-bold: 600;

// BASE
* {
  box-sizing: border-box;
}

a {
  color: inherit;
  transition: color .12s;

  &:hover {
    color: $theme-primary;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $font-family-open-sans;
  font-size: 14px;
  color: $text-primary-on-light;
  background-color: #fff;
}

button {
  background: none;
  border: 0;
}

p {
  color: $text-secondary-on-light;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container,
.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  @media (min-width: 576px) { max-width: 540px; }
  @media (min-width: 768px) { max-width: 720px; }
  @media (min-width: 992px) { max-width: 960px; }
  @media (min-width: 1200px) { max-width: 1140px; }
}

// TYPOGRAPHY
%heading {
  font-family: $font-family-oswald;
  font-weight: $text-medium;
  color: $text-secondary-on-light;
  line-height: 1.2em;
}

.headline {
  @extend %heading;

  font-size: 42px;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-size: 55px;
  }
}

.title {
  @extend %heading;

  font-size: 30px;
  margin-bottom: 24px;
}

.subheading {
  @extend %heading;

  font-size: 22px;
  color: $text-primary-on-light;
}

.section-title {
  @extend %heading;

  font-size: 16px;
  margin-bottom: 22px;
}

.caption {
  display: inline-block;
  color: $theme-primary;
  font-size: 13px;
  font-weight: $text-regular;
  margin-bottom: 6px;
}

// HEADER
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;
  transition: transform .12s, background-color .12s;
}

.header {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;

  @media (min-width: 992px) {
    min-width: 0;
  }
}

.main-nav {
  display: none;
  font-family: $font-family-oswald;
  font-weight: $text-medium;
  text-transform: uppercase;

  @media (min-width: 992px) {
    display: flex;
  }
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.dropdown {
  position: relative;
  display: inline-flex;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  margin-top: 0;
  opacity: 0;
}

.social {
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;

  &--desktop {
    @media (max-width: 991.98px) {
      display: none;
    }
  }

  &_item {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }

    a {
      display: block;
      line-height: 0;
    }
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 14px;
  border-width: 2px;

  &-primary {
    color: #fff;
    background-color: $theme-primary;
    border-color: $theme-primary;

    &:hover {
      color: #fff;
    }
  }
}

.btn-icon {
  display: inline-flex;
  height: 36px;
  width: 36px;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  border: 0;
}

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  fill: currentColor;
}

.toggler {
  color: $theme-primary;

  &--menu {
    display: inline-flex;

    @media (min-width: 992px) {
      display: none;
    }
  }
}

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1000;

  &.active {
    pointer-events: auto;

    &::before {
      opacity: 1;
    }

    .drawer_drawer {
      transform: none;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba($black, .6);
    opacity: 0;
  }

  &_drawer {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 56px);
    max-width: 280px;
    overflow: hidden;
    background-color: #fff;

    &--left {
      left: 0;
      right: initial;
      transform: translateX(-107%);
    }

    &--right {
      left: initial;
      right: 0;
      transform: translateX(107%);
    }
  }
}

.image {
  position: relative;
  display: block;
  padding-top: 56.25%;
  overflow: hidden;
  background-color: $theme-primary-light;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &--masthead {
    padding-top: 450px;
    border-radius: 0;

    @media (min-width: 992px) {
      padding-top: 46.875%;
    }
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

// HERO
.masthead {
  position: relative;
  width: 100%;
  overflow: hidden;

  &_image {
    height: 100% !important;
    width: auto !important;
  }

  &_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  &_content {
    margin-top: 120px;
    font-size: 18px;

    @media (min-width: 768px) {
      max-width: 70%;
    }

    @media (min-width: 992px) {
      max-width: 50%;
    }

    @media (min-width: 1200px) {
      margin-top: 180px;
    }
  }
}

//swiper
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding: 0;
}

.swiper-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  flex-shrink: 0;
}

.is-loading {
  .quote {
    display: flex;
    width: 100%;

    @media (min-width: 768px) {
      width: 33.3333%;
    }
  }
}